@import url('https://fonts.googleapis.com/css2?family=Monofett&display=swap');
body{
    background-color: teal;
    padding: 100px
}
h1{
    text-align: center;
    margin: auto;
  font-family: "Monofett", monospace;
  font-weight: 400;
  font-style: normal;

}
h2{
        text-align: center;
    margin: auto;
    
}
p{
        text-align: center;
    margin: auto;
    padding-bottom: 20px;
    border: 50px;
}
a{
color: black
}
img{
    margin-left: 370px
}
#button-holder,
#secondbutton-holder {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

#songbutton-holder {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}
#colorbutton-holder {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}