@import url('https://fonts.googleapis.com/css2?family=Monofett&display=swap');
body{
    background-color: teal
}
h1{
    text-align: center;
    margin: auto;
  font-family: "Monofett", monospace;
  font-weight: 400;
  font-style: normal;

}
h2{
        text-align: center;
    margin: auto;
}
p{
        text-align: center;
    margin: auto;
}
a{
color: black
}